html, body {
    background-color: #f1f1f1;
    margin: 0;
}

ul {
    margin: 0;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
li {
    margin: 0 auto;
}

button {
    background-color: #1f753d;
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 250px;
    padding: 5px;
    text-transform: capitalize;
}

.acerto {
    color: #22b255;
}

.error {
    color: #d72c4b;
}